@model IEnumerable<SuperShop.Data.Entities.Order>

@{
    ViewData["Title"] = "Index";
}
<br />
<h1 style="font-family: 'Lucida Handwriting'; text-align: center">Orders</h1> <hr /> <br />

<p class="create">
    <a asp-action="Create"><i style="font-size: 35px" class="fa-solid fa-circle-plus"></i></a>
</p> <br />
<table class="table">
	<thead>
    	<tr>
        	@if (this.User.IsInRole("Admin"))
        	{
            	<th>
                	@Html.DisplayNameFor(model => model.User.FullName)
            	</th>
        	}
        	<th>
            	@Html.DisplayNameFor(model => model.OrderDate)
        	</th>
        	<th>
            	@Html.DisplayNameFor(model => model.DeliveryDate)
        	</th>
        	<th>
            	#Lines @*@Html.DisplayNameFor(model => model.Lines)*@
        	</th>
        	<th>
            	@Html.DisplayNameFor(model => model.Quantity)
        	</th>
        	<th>
            	@Html.DisplayNameFor(model => model.Value)
        	</th>
        	<th></th>
    	</tr>
	</thead>
	<tbody>
    	@foreach (var item in Model)
    	{
    	<tr>
        	@if (this.User.IsInRole("Admin"))
        	{
        	<th>
            	@Html.DisplayFor(modelItem => item.User.FullName)
        	</th>
        	}
        	<td style="vertical-align: middle">
            	@Html.DisplayFor(modelItem => item.OrderDate)
        	</td>
        	<td style="vertical-align: middle">
            	@Html.DisplayFor(modelItem => item.DeliveryDate)
        	</td>
        	<td style="vertical-align: middle">
            	#Lines @*@Html.DisplayFor(modelItem => item.Lines)*@
        	</td>
        	<td style="vertical-align: middle">
            	@Html.DisplayFor(modelItem => item.Quantity)
        	</td>
        	<td style="vertical-align: middle">
            	@Html.DisplayFor(modelItem => item.Value)
        	</td>
        	<td style="vertical-align: middle">
            	<a asp-action="Deliver" asp-route-id="@item.Id" class="btn btn-info" id="btnDeliver">Deliver</a>
	            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete">Delete</a>
        	</td>
    	</tr>
    	}
	</tbody>
</table>